.articlesSection {
    border-bottom: var(--border-section);
}


.articleTitle {
  font-family: var(--font-title);
  font-size: var(--fs-lg);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: var(--letter-spacing);
  margin-bottom: var(--text-spacing--lg);
}

.articlesContainer {
    padding: var(--text-spacing--lg) var(--gap);
}
