
.heroPostContainer {
  width: 56%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10rem;
}

.heroImage {
  width: 100%;
  margin-bottom: var(--text-spacing--xl);
}

.heroImage,
.heroTitle {
  cursor: pointer;
}

.heroTitle {
  font-family: var(--font-title);
  font-size: var(--fs-xl);
  margin-bottom: 1.7rem;
}

.heroExcerpt {
  font-family: var(--font-secondary);
  font-size: var(--fs-sm);
  padding: 0 10rem;
}

.allArticlesContainer {
    width: 44%;
    margin: 0 auto;
    border-top: var(--border);
    padding-top: var(--text-spacing--lg);
    padding-bottom: 20rem;
    text-align: center;
}

.allArticlesSection {
  margin-top: var(--text-spacing--sm);
}

.allArticlesTitle {
  font-weight: normal;
  margin-bottom: var(--text-spacing-md);
  font-size: var(--fs-m-lg);
}
