*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1 rem = 10px; 10px/16px = 62.5% */
}

body {
  font-family: var(--font-primary);
  font-size: var(--fs-standart);
  box-sizing: border-box;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  /* colors */
  --color-main: #ffd900;
  --color-btn: #c4c4c4;
  --color-grey: #333;

  /* fonts */
  --font-hero: 'Bai Jamjuree', sans-serif;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Roboto Mono', monospace;
  --font-title: 'Spartan', sans-serif;

  /* font-size */
  --fs-standart: 2.5rem;
  --fs-lg: 3rem;

  /* spacing */
  --gap: 4rem;
  --text-spacing--lg: 6.5rem;
  --text-spacing-md: 5rem;
  --text-spacing--sm: 2.5rem;
  --letter-spacing: 0.12em;

  /* box sizing */
  --shadow-inset-sm: inset 0px -2px 0px 0px #000000;
  --shadow-inset-md: inset 0px -10px 0px 0px #000000;

  /* border */
  --border: 2px solid var(--color-grey);
  --border-section: 1px solid rgba(0, 0, 0, 0.43);
}

