
.articlesSection {
    border-bottom: var(--border-section);
}

.articleTitle {
  font-family: var(--font-title);
  font-size: var(--fs-lg);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: var(--letter-spacing);
}

.articleContent {
  font-size: var(--fs-standart);
  padding: 0 var(--text-spacing--lg);
  text-align: center;
  font-weight: 400;
}

.articlesContainer {
    padding: var(--text-spacing--lg) var(--gap);
}

.articles {
    margin-top: var(--text-spacing--lg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: var(--text-spacing--lg);
    column-gap: var(--text-spacing--sm);
}

.articleThumb {
    width: 100%;
    height: 28rem;
    margin-bottom: var(--text-spacing--sm);
}

.articleContent {
    padding: 0 var(--text-spacing--lg);
    text-align: center;
}